{% extends "main.html" %}
{% block body %}
{% for category in category %}
<main class="card-container">
    <div class="card">
        <a href="{{ url_for('category', category_id = category.id) }}">
            <img class="image" src="../../static/uploads/images/{{ category.up_file }}"></a>
        <h3 class="card-title">{{ category.name }}</h3>
        <p class="card-subtitle">{{ category.name }}</p>
        <div class="card-actions w-clearfix">
            <div class="card-actions-container w-clearfix">
                <a class="card-ingredients w-button"
                   data-ix="show-ingredients">Ingredienser</a>
                <a class="card-button w-button"
                   href="{{ url_for('edit_category', category_id = category.id) }}">Redigér</a>
                <p class="ingredients-text">{{ category.ingredients }}</p>
            </div>
        </div>
    </div>
</main>