{% extends 'main.html' %}
{% block content %}

    <main class="card-container">
        <div class="form-section">
            <div class="form-container">
                <form method="post" class="form"
                      action="{{ url_for('edit_shop', shop_id = shop.id) }}"
                      enctype=multipart/form-data>
                    <h2 class="form-header">{{ shop.name }}</h2>
                    <div class="form-row">
                        <label class="field-label" for="Input">Navn</label>
                        <input autofocus="autofocus" class="text-field w-input" maxlength="256"
                               name="name" type="text" placeholder=''>
                    </div>
                    <div class="form-row">
                        <label class="field-label" for="Input">{{ shop.description }}</label>
                        <textarea autofocus="autofocus"
                                  class="text-field-area w-input" maxlength="256" name="description" type="text"
                                  placeholder=''></textarea>
                    </div>
                    <div class="form-row">
                        <label class="field-label" for="Input">ID: {{ shop.id }}</label>
                        <input autofocus="autofocus" class="text-field w-input" maxlength="256"
                               name="name" type="text" placeholder=''>
                    </div>
                    <div class="form-row">
                        <input type=file accept="image/*" name=file>
                        <input class="submit-btn w-button" type='submit' value='Redigér'>
                    </div>
                </form>
            </div>
        </div>
    </main>

{% endblock %}