{% extends 'main.html' %}
{% block content %}

    <div class="categories shop">
        <h1 class="heading-2">{{ item.name }}</h1>
        {# Make a row for short description and one for long description.
    <p class="paragraph-2">{{ item.longdescription }}</p> #}
        <div class="image item-image"><img src="../../../static/uploads/images/{{ item.up_file }}"></div>
        <div class="item-content">
            <div class="ingredients">
                <h2 class="heading-3">Ingredients:</h2>
                <ul class="unordered-list">
                    <li class="list-item">{{ item.ingredients }}</li>
                </ul>
            </div>
            <div class="divider"></div>
            <p class="paragraph-3">{{ item.description }}</p>
        </div>
    </div>
    <div class="content edit">
        <a class="button w-button edit" href="{{ url_for('edit_item', category_id = category.id, item_id=item.id) }}">Edit</a>
    </div>

{% endblock %}